<%- include(shop.theme.headerPath) %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6">
      <h4>Shipping address </h4>
      <% if (shop.current.user) { %>
        <% if (addresses.length) { %>
          <p>Use an existing address:</p>
          <form action="" method ="POST">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <input type="hidden" name="plugin_action" value="choose_address">
            <div class="form-group">
              <label for="address"></label>
              <select name="address" class="form-control">
                <% addresses.forEach(addr => { %>
                <option value="<%= addr.uid %>" <%= address && address.uid === addr.uid ? 'selected' : '' %> ><%= addr.name %> <%= addr.line1 %>...</option>
                <% }) %>
              </select>
            </div>
            <div class="text-right">
              <input type="submit" value="Choose this address" class="btn btn-outline-primary">
            </div>
          </form>
          <p>Or create a new address :</p>
        <% } else { %>
          <p>Create a new address: </p>
        <% } %>
      <% } else { %>
        <p>
          Fill your shipping address <small><a href="<%= linkTo('auth', 'login'); %>">or login if you have an account &rarr;</a></small>
        </p>
      <% } %>
      <hr>
      <form action="" method ="POST">
        <input type="hidden" name="_csrf" value="<%= csrf %>">
        <input type="hidden" name="plugin_action" value="validate_address">
        <div class="form-group">
          <label for="">Email*</label>
          <input type="email" name="address[email]" class="form-control" value="<%= address ? address.email : '' %>" required>
        </div>
        <% if (shop.current.user) { %>
          <div class="form-group">
            <label for="">Address name*</label>
            <input type="text" name="address[name]" class="form-control"  value="<%= address ? address.name : '' %>" required>
          </div>
        <% } %>
        <div class="form-group">
          <label for="">Address <small>(line 1)</small></label>
          <input type="text" name="address[line1]" class="form-control" value="<%= address ? address.line1 : '' %>">
        </div>
        <div class="form-group">
          <label for="">Address <small>(line 2)</small></label>
          <input type="text" name="address[line2]" class="form-control" value="<%= address ? address.line2 : '' %>">
        </div>
        <div class="form-group">
          <label for="">State</label>
          <input type="text" name="address[state]" class="form-control" value="<%= address ? address.state : '' %>">
        </div>
        <div class="form-group">
          <label for="">City</label>
          <input type="text" name="address[city]" class="form-control" value="<%= address ? address.city : '' %>">
        </div>
        <div class="form-group">
          <label for="">Zip code</label>
          <input type="text" name="address[zipcode]" class="form-control" value="<%= address ? address.zipcode : '' %>">
        </div>
        <div class="form-group">
          <label for="">Country</label>
          <input type="text" name="address[country]" class="form-control" value="<%= address ? address.country : '' %>">
        </div>
        <div class="text-right">
          <input type="submit" value="Save" class="btn btn-outline-primary">
        </div>
      </form>
      <div class="text-left">
      <% if (canGoBack) { %>
        <form action="<%= previousLink %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrf %>">
          <input type="submit" value="Back" class="btn btn-outline-secondary">
        </form>
      <% } %>
      </div>
    </div>
  </div>
</div>
<%- include(shop.theme.footerPath) %>
