<%- include(`../partials/header`) %>
<div class="media-list">
  <% medias.forEach( media => { %>
    <div class="media">
      <div class="media-inner">
        <div class="media-image">
          <img src="<%= linkToFront('image',media.uid) %>" alt="">
        </div>
        <div class="media-name">
            <%- media.name %>
        </div>
        <div class="media-path">
            <%- media.filename %>
        </div>
        <div class="media-tools">
          <a href="">Modifier</a>
        </div>
      </div>
    </div>
  <% }) %><!-- end media.forEach -->
</div>
<%- include(`../partials/footer`) %>