<%- include(`../partials/header`) %>
<form action="" method="POST">
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Taxonomies</h4>
    <div class="taxonomies-list">
        <input type="hidden" value="<%= csrf %>" name="_csrf">
        <% taxonomies.forEach( taxonomy => { %>
          <div class="taxonomy form-group row">
              <label class="taxonomy-name col-2 col-form-label">
                  <%- taxonomy.name %>
              </label>
              <div class="col-10">
                <textarea name="terms[<%= taxonomy.uid %>]" class="form-control"><%= taxonomy.terms.map(t => t.name).join().trim() %></textarea>
              </div>
          </div>
        <% }) %><!-- end media.forEach -->
          <div class="text-right">
            <input type="submit" class="btn btn-outline-primary" value="Save">
          </div>
    </div>
  </div>
</div>
<div class="card mt-4">
  <div class="card-block">
    <h4 class="card-title">Create new Taxonomy</h4>
          <div class="taxonomy form-group row">
            <label class="taxonomy-name col-2 col-form-label">
                  New taxonomy name
              </label>
            <div class="col-10">
              <input type="text" name="newTaxonomy" class="form-control">
            </div>
          </div>
          <div class="text-right">
            <input type="submit" class="btn btn-outline-primary" value="Save">
          </div>

  </div>
</div>
</form>

<%- include(`../partials/footer`) %>