<%- include('./partials/header.ejs') %>
<div class="container">
  <div class="row justify-content-center">
    <% if (locals.adminEnabled) { %>
    <div class="col-12 col-sm-4">
      <div class="card">
        <div class="card-body">
          <form action="<% locals.linkTo('admin', 'login') %>" method="POST">
            <div class="form-group">
              <label for="user">Email address</label>
              <input name="user" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= locals.csrf %>"></input>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Connect</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="col-12 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Admin is not enabled.
          </h3>
          <div class="card-text">
            No password and/or username configured.<br/>
            You might want to add an admin username and password hash in your settings object.<br/>
            For example you could use the hash :<br/> <code><%= locals.exampleHash %></code><br/>
            That hash will match the password <code><%= locals.examplePassowrd %></code> .

          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
