<div class="menu">
  <ul>
    <li>
      <a href="<%- linkToFront() %>"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Go to front</a>
    </li>
    <li class="menu-item">
      <a href="<%- urlToAdmin(`/products`) %>"><i class="fa fa-gift" aria-hidden="true"></i> Product list</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/product/create`) %>"><i class="fa fa-pencil" aria-hidden="true"></i> Create product</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/plugins`) %>"><i class="fa fa-plug" aria-hidden="true"></i> Plugins</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/steps`) %>"><i class="fa fa-server" aria-hidden="true"></i> Order Steps</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/taxonomies`) %>"><i class="fa fa-tags" aria-hidden="true"></i> Taxonomies</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/options`) %>"><i class="fa fa-gears" aria-hidden="true"></i> Options</a>
    </li>
    <li>
      <a href="<%- urlToAdmin(`/orders`) %>"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a>
    </li>
  </ul>
</div>