<ul class="menu">
  <li>
    <a href="<%- linkToFront() %>">Go to front</a>
  </li>
  <li class="menu-item">
    <a href="<%- linkTo(`/`) %>">Admin</a>
  </li>
  <li class="menu-item">
    <a href="<%- linkTo(`/products`) %>">Product list</a>
  </li>
  <li>
    <a href="<%- linkTo(`/product/create`) %>">Create product</a>
  </li>
  <!--
  <li>
    <a href="<%- linkTo(`/images`) %>">List images</a>
  </li>
  <li>
    <a href="<%- linkTo(`/plugins`) %>">Plugins</a>
  </li>
  <li>
    <a href="<%- linkTo(`/steps`) %>">Steps</a>
  </li>
  -->
  <li>
    <a href="<%- linkTo(`/taxonomies`) %>">Taxonomies</a>
  </li>
  <li>
    <a href="<%- linkTo(`/orders`) %>">Orders</a>
  </li>
</ul>