<ul class="menu">
  <li class="menu-item">
    <a href="<%- linkTo(`/`) %>">Admin</a>
  </li>
  <li class="menu-item">
    <a href="<%- linkTo(`/products`) %>">Product list</a>
  </li>
  <li>
    <a href="<%- linkTo(`/product/create`) %>">Create product</a>
  </li>
  <li>
    <a href="<%- linkTo(`/product/create`) %>">Create product</a>
  </li>
  <li>
    <a href="<%- linkTo(`/images`) %>">List images</a>
  </li>
  <li>
    <a href="<%- linkToFront() %>">Front</a>
  </li>
</ul>