<%- include('../../default-front/partials/header'); %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6">
      <h4>Shipping address </h4>
      <p>
        Fill your shipping address
      </p>
      <hr>
      <form action="" method ="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrf %>">
        <input type="hidden" name="plugin_action" value="validate_address">
        <div class="form-group">
          <label for="">Email*</label>
          <input type="email" name="address[email]" class="form-control" value="<%= locals.address ? locals.address.email : '' %>" required>
        </div>
        <div class="form-group">
          <label for="">Address <small>(line 1)</small>*</label>
          <input type="text" name="address[line1]" class="form-control" value="<%= locals.address ? locals.address.line1 : '' %>" required>
        </div>
        <div class="form-group">
          <label for="">Address <small>(line 2)</small></label>
          <input type="text" name="address[line2]" class="form-control" value="<%= locals.address ? locals.address.line2 : '' %>">
        </div>
        <div class="form-group">
          <label for="">State</label>
          <input type="text" name="address[state]" class="form-control" value="<%= locals.address ? locals.address.state : '' %>">
        </div>
        <div class="form-group">
          <label for="">City*</label>
          <input type="text" name="address[city]" class="form-control" value="<%= locals.address ? locals.address.city : '' %>" required>
        </div>
        <div class="form-group">
          <label for="">Zip code</label>
          <input type="text" name="address[zipcode]" class="form-control" value="<%= locals.address ? locals.address.zipcode : '' %>">
        </div>
        <div class="form-group">
          <label for="">Country*</label>
          <select name="address[country]" id="" class="form-control">
            <% locals.countries.forEach(country => { %>
              <option value="<%- country.code %>"><%= country.label %></option>
            <% }) %>
          </select>
        </div>
        <div class="text-right">
          <input type="submit" value="Save" class="btn btn-outline-primary">
        </div>
      </form>
      <div class="text-left">
      <% if (locals.canGoBack) { %>
        <form action="<%= previousLink %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrf %>">
          <input type="submit" value="Back" class="btn btn-outline-secondary">
        </form>
      <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../../default-front/partials/footer'); %>
