<%- include(`../partials/header`) %>

<div class="options card">
<div class="card-block">
  <h2 class="card-title">Options</h2>
  <form action="" method="POST">
    <% options.forEach( (option,i) => { %>
      <div class="form-group row">
        <label class="col-form-label col-md-2" for="<%= option.name %>"><%= option.name %></label>
        <div class="col-md-10">
          <input class="form-control" type="text" name="<%= option.name %>" value="<%= option.value %>">
        </div>
      </div>
    <% }) %><!-- end product.forEach -->
    <div class="row">
      <div class="col-12 text-right">
        <input type="submit" value="save" class="btn btn-outline-primary">
      </div>
    </div>
  </form>
</div>
</div>
<%- include(`../partials/footer`) %>