<%- include(`../partials/header`) %>
<div class="plugins-list list-group">
  <div class="list-title list-group-item">
    <h4>Plugins</h4>
  </div>
  <% plugins.forEach( plugin => { %>
    <div class="plugin list-group-item">
      <div class="plugin-inner">
        <div class="plugin-title">
            <h5><%- plugin.title %>
            <small>
              [<%- plugin.name %>]
            </small>
            </h5>
        </div>
        <div class="plugin-name">
            
        </div>
        <div class="plugin-description">
            <%- plugin.description %>
        </div>
        <div class="plugin-tools">
          <div class="plugin-tool plugin-tool-activate d-inline-block">
            <form method="POST" action="/admin/plugins/<%- plugin.name %>">
              <input type="hidden" value="<%= csrf %>" name="_csrf">
              <span class="<%= plugin.isActive ? 'text-success' : 'text-danger' %>"><%= plugin.isActive ? 'Enabled' : 'Disabled' %></span>
              -
              <input type="submit" value="<%= plugin.isActive ? 'Disable' : 'Enable' %>" style="background:none;border:none;text-decoration:underline;cursor:pointer;">
            </form>
          </div>
          <div class="plugin-tool plugin-tool-options d-inline">
            <% if (plugin.isActive && plugin.settings && Object.keys(plugin.settings).length > 0) { %>
              - <a href="<%= urlToAdmin('plugins', plugin.name, 'settings') %>">Settings &rarr;</a>
            <% } %>
          </div>
        </div>

      </div>
    </div>
  <% }) %><!-- end media.forEach -->
</div>
<%- include(`../partials/footer`) %>