<%- include(`../partials/header`) %>
<div class="order-list list-group">
<div class="list-group-item list-group-title">
  <h4>Orders</h4>
</div>
  <% orders.forEach( order => { %>
    <div class="order list-group-item">
      <div class="order-inner">
        <div class="order-uid">
            <%- order.uid %>
        </div>
        <div class="order-user">
        <% if (order.user) { %>
            <%- order.user.name %>
        <% } %>
        </div>
        <div class="order-status">
            <%- order.status %>
        </div>
        <div class="order-tools">
          <a href="<%= linkTo('order',order.uid) %>">Details</a>
        </div>
      </div>
    </div>
  <% }) %><!-- end order.forEach -->
</div>
<%- include(`../partials/footer`) %>