<%- include(`../partials/header`) %>
<div class="order-list">
  <% orders.forEach( order => { %>
    <div class="order">
      <div class="order-inner">
        <div class="order-uid">
            <%- order.uid %>
        </div>
        <div class="order-user">
        <% if (order.user) { %>
            <%- order.user.name %>
        <% } %>
        </div>
        <div class="order-status">
            <%- order.status %>
        </div>
        <div class="order-tools">
          <a href="">Details</a>
        </div>
      </div>
    </div>
  <% }) %><!-- end order.forEach -->
</div>
<%- include(`../partials/footer`) %>