<%- include(shop.theme.headerPath) %>
<div class="container">
  <div class="row">
    <% if (getVar('error')) { %>
      <div class="col-12 text-center alert alert-danger">
        <strong>Something wrong happened :</strong> <br>
        <%= error %> <br>
        Please try again.
      </div>
    <% } %>
    <div class="col-12 text-center">
      <form action="<%= linkTo('order') %>" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrf %>">
      <input type="hidden" name="plugin_action" value="validate_payment">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%- keyPublishable %>"
        data-amount="100"
        data-name="Demo Site"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true"
        data-currency="eur">
      </script>
    </form>
    </div>
  </div>
</div>
<%- include(shop.theme.footerPath) %>