<%- include(`../partials/header`) %>
<div class="steps-list list-group">
<div class="list-group-title list-group-item">
  <h4>Order steps</h4>
  <p>These are the steps that customers have to go through before completing a purchase</p>
</div>
  <% steps.forEach( step => { %>
    <div class="step list-group-item">
      <div class="step-inner">
        <div class="step-name">
            <h5>
              <%- step.name %>
            </h5>
        </div>
        <div class="step-tools">
          <div class="step-tool step-tool-activate">
            <form method="POST" action="/admin/steps/<%- step.name %>">
              <input type="hidden" value="<%= csrf %>" name="_csrf">
              <span class="<%= step.activated ? 'text-success' : 'text-danger' %>"><%= step.activated ? 'Enabled' : 'Disabled' %></span>
               -
              <input type="submit" value="<%= step.activated ? 'Disable' : 'Enable' %>" style="background:none;border:none;text-decoration:underline;cursor:pointer;">
            </form>
          </div>
        </div>

      </div>
    </div>
  <% }) %><!-- end media.forEach -->
</div>
<%- include(`../partials/footer`) %>